<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activities</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include("components/headers", { activePage: 'activities' }) %>
    <h1>Available Activities</h1>

    <ul  class="activityList">
      <% activities.forEach(activity => { %>
      <li class="activityItem">
        <h3><%= activity.name %></h3>
        <p><%= activity.description %></p>
        <p><%= activity.date %></p>
        <p>Privacy: <%= activity.privacy %></p>
        <p>Participants: <%= activity.participants.length %></p>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
